
/* 
h1{
    color:olivedrab;
    text-align: center;
    align-items: center;
    font-family: sans-serif;
    margin-top: 10rem;
}
.weekday{
    align-items: center;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 500;
} */